body{
    background-color: rgb(219, 239, 243);
}
.calculator-body{
    width: 350px;
    height: 430px;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 1;
}
.calculator-shadow{
    width: 350px;
    height: 15px;
    background-color: rgba(83, 83, 83, 0.418);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 35px;
    z-index: 5;
}
h1{
    margin-top: 50px;
    text-align: center;
}
.screen{
    width: 285px;
    margin: 0 auto;
    padding-top: 50px;
}
input[type=text]{
    width: 285px;
    height: 50px;
    border-radius: 9px;
    border-color: #000;
    background-color: rgb(231, 229, 229);
    text-align: right;
    font-family: Calculator Font;
    font-size: 34pt
}
input:focus{
    outline: none;
}
.l1{
    margin-top: 40px;
    margin-bottom: 10px;
}
.l2{
    margin-bottom: 10px;
}
.l3{
    margin-bottom: 10px;
}
.l4{
    margin-bottom: 10px;
}
input[type=button]{
    width: 66.5px;
    height: 40px;

    background-color: rgb(231, 229, 229);
    border-radius: 5px;
    border: 1px;
    font-weight: bold;
    font-size: 15pt;
    font-family: dejaVu Sans;
}
.buttons{
    width: 280px;
    margin: 0 auto;
}
@font-face{
    font-family: dejaVu Sans;
    src: url("../font/DejaVuSansCondensed-Bold.ttf");
}
@font-face{
    font-family: Calculator Font;
    src: url("../font/Calculator.ttf");
}